/.claude export-ignore
/.dockerignore export-ignore
/.editorconfig export-ignore
/.env.dist export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.plan export-ignore
/CLAUDE.md export-ignore
/CONTEXT.md export-ignore
/docker export-ignore
/docker-compose.yml export-ignore
/docs export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/psalm.xml export-ignore
/tests export-ignore
