<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    colors="true"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
>
  <source>
    <include>
      <directory>./src</directory>
    </include>
    <exclude>
      <file>./src/DBALCompatibility.php</file>
    </exclude>
  </source>

  <testsuites>
    <testsuite name="unit">
      <directory>./tests/</directory>
      <exclude>./tests/Integration</exclude>
    </testsuite>
    <testsuite name="integration-mysql">
      <directory>./tests/Integration/Functions/Mysql</directory>
    </testsuite>
    <testsuite name="integration-mariadb">
      <directory>./tests/Integration/Functions/Mariadb</directory>
    </testsuite>
    <testsuite name="integration-postgresql">
      <directory>./tests/Integration/Functions/Postgresql</directory>
    </testsuite>
    <testsuite name="integration-sqlite">
      <directory>./tests/Integration/Functions/Sqlite</directory>
    </testsuite>
  </testsuites>
</phpunit>
